* {
    margin: 0;
    padding: 0;

}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "Inter", sans-serif;
    line-height: 1.6;
}


.section_div {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/* BANNER */

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    background-size: cover;
    background-position: center;
    transition: all 0.1s ease-in-out;
    background-image: url('../assets/im001.jpeg');
    animation: banner 28s infinite linear;

}

.banner-content {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(10, 10, 21, 0.749);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text_content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.text_content h1 {
    padding: 0;
    margin: 0;
    font-size: 50px;
    color: #fff;
}

.text_content h2 {
    font-weight: 500;
    font-size: 45px;
    color: #fff;
    margin-bottom: 40px;
}

.logo {
    width: 250px;


}


@keyframes banner {

    0%,
    25% {
        background-image: url('./assets/fotos/001.jpg');
    }

    26%,
    50% {
        background-image: url('./assets/fotos/004.jpg');
    }

    51%,
    75% {
        background-image: url('./assets/fotos/002.jpg');
    }

    76%,
    100% {
        background-image: url('./assets/fotos/001.jpg');
    }
}


/* ============================================ */
/* Secciones */

.linea {
    width: 100%;
    height: 40px;
    background-color: #005E6C;
}


/* seccion 1 */
.seccion_01 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.s1_cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
}

.s1_cont span {
    color: #00AE45;
    font-weight: 700;
}

.s1_cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 20px 20px rgba(32, 142, 164, 0.5);
}

.parrafo1 {
    width: 80%;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.parrafo2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;

}

.parrafo1 p {
    font-size: 20px;
    color: #005E6C;
    font-weight: 500;
    margin-bottom: 20px;
}

.parrafo2 p {
    font-size: 20px;
    color: #005E6C;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: end;
}

.parrafo2 .spann {
    color: #00AE45;
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
}


/* ---------- */

.seccion_02 {
    width: 100%;
    background-image: url('../assets/banner_img/fondo-banner-azul.jpg');
    background-size: cover;
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(2, 1fr);
}

.seccion_02 img {

    width: 100%;
    object-fit: cover;
    height: 450px;
}


.s02_texto {

    width: 100%;
    margin-left: 100px;
    margin-top: 100px;
    color: #fff;
}

.s02_texto h2 {

    font-size: 40px;

}

.s02_texto p {

    text-transform: uppercase;
    font-size: 24px;

}

.s02_texto h3 {
    padding-top: 10px;
    font-size: 25px;
}

/* SECCION 03 */
.seccion_03 {

    height: 100vh;
    display: flex;
    flex-direction: row;
    background-size: cover;
}

.calendario {
    width: 100%;
    height: 100vh;

}

.calendly-inline-widget {
    width: 100%;
    height: 570px;
}

.textos3 {
    font-style: italic;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;


}

.textos3 p {

    font-size: 1.6rem;
    color: #f2f2f2;
    font-weight: 400;
    margin-bottom: 20px;
    z-index: 2;
}

.textos3 span {
    font-size: 2.2rem;
    font-weight: 800;
}



/* count */
.contador {

    width: 1000px;
    margin: auto;
    background-color: #fff;
}

.contador h2 {
    color: #005E6C;
    text-align: center;
    font-size: 35px;
    font-weight: 500;


}

#countdown {

    display: flex;
    justify-content: center;
    align-items: center;
}

#countdown div {
    height: 100px;
    margin: auto;
    text-align: center;
    color: #005E6C;
    font-weight: 700;
    font-size: 90px;
    min-width: 90px;

}

.count {
    padding-right: 10px;
    margin: auto;
    text-align: center;
    color: #005E6C;
    font-weight: 500;
    font-size: 65px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.countmb {
    margin: auto;
    text-align: center;
    color: #005E6C;
    font-weight: 500;
    font-size: 65px;
    min-width: 90px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.countmb p {
    opacity: 0;
}

.contador div p {
    font-size: 30px;
}

.contador h3 {
    color: #005E6C;
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 800;

}

/* --------- */



.s001 {
    margin: auto;

}

.s001 h3 {
    color: #005E6C;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
}

.s001 a {
    display: block;
    margin: auto;
    text-align: center;
    padding: 10px 20px;
    background-color: #005E6C;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    border-radius: 10px;
    transition: 0.3s;
}

.s001 a:hover {
    background-color: #00AE45;
}

.s002 {
    margin: auto;
}

.s002 img {

    margin: auto;
    width: 500px;
    height: 500px;
    object-fit: cover;
}

/* -------- */


/* --------- */
.seccion_03 {
    width: 100%;
    height: auto;
}

.s3_01 {
    width: 1000px;
    margin: auto;
    padding-top: 4rem;
}

.contenedor_acordion {
    text-align: center;
    width: 800px;
    margin: auto;
}

.contenedor_acordion h3 {
    color: #00AE45;
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;

}

.contenedor_acordion p {
    color: #005E6C;
    font-size: 1.3rem;
    font-weight: 500;

}


.interior span {
    color: #00AE45;
    font-weight: 900;
    font-size: 1.5rem;


}

summary {
    display: flex;
    height: 100%;
    justify-content: space-between;
    background-color: #00AE45;
    color: #fff;
    padding: 13px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;

}

details p {
    padding: 10px;
    background: #fff;
    color: #005E6C;
    font-size: 1.2rem;
    font-weight: 600;

}



/* --------------- */

.gen_04 {
    background-color: #f5f5f5;
    width: 100%;

}

.seccion_04 {
    max-width: 800px;
    margin: auto;
    padding-top: 3rem;

}

.seccion_04 h3 {
    font-size: 2rem;
    color: #005E6C;
    text-align: center;
    font-weight: 800;
}

.seccion_04 h4 {
    margin-top: 0.5rem;
    font-size: 4rem;
    color: #00AE45;
    text-align: center;
    font-weight: 800;

}

.seccion_04 h4 span {
    background-color: #00AE45;
    color: #fff;
}

.s4_cont {
    padding-top: 30px;
    margin: auto;
    width: 750px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.s4_cont img {
    width: 120px;
    height: 120px;
    object-fit: cover;

}

.s4_cont p {


    font-size: 1.6rem;
    color: #005E6C;
    font-weight: 400;

}

.s4_cont span {
    color: #00AE45;
}


/* ===================================================== */

.agregado {
    padding-top: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.agregado a {
    width: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 20px 40px;
    background-color: #005E6C;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    border-radius: 25px;
    transition: 0.3s;

}

.agregado a img {
    width: 80px;
    height: 80px;
}

.agregado a:hover {
    background-color: #00AE45;
}

.agregado p {
    font-style: italic;
    width: 65%;
    font-size: 2.5rem;
    color: #00AE45;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 3rem;

}

/* Formulario de contacto */

.contact__container {
    display: flex;
    align-items: center;

}

.animate-bg {
    margin-left: 20px;
}

.container {

    background-position: center;
    position: relative;
    width: 500px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fff;
    background-size: cover;
    color: black;
}

.container::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    /* Ajusta el valor alfa para controlar la opacidad */
}


#mc_embed_shell h4 {
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.seccion_05 {

    background-position: center;
    position: relative;
    width: 100%;
    height: 400px;
    text-align: center;
    background-image: url('./assets/fotos/001.jpg');
    background-size: cover;
    color: black;
}

.seccion_05::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 95, 53, 0.393);
    /* Ajusta el valor alfa para controlar la opacidad */
}


/* Footer Styles */
.footer {
    background-color: #005E6C;
}

.footer__container {
    padding-top: 20px;
    padding-left: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.footer__col h4 {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: white
}

.footer__col p {
    margin-bottom: 1rem;
    color: white;
}

.footer__col a {
    display: block;
    margin-bottom: 1rem;
    color: white;
    transition: 0.3s;
}

.footer__col a span {
    margin-right: 5px;
}

.footer__col a:hover {
    color: #00AE45;
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer__socials span {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.footer__bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
}

.logo_negativo {
    width: 200px;
    height: 100px;
}



@media only screen and (max-width: 600px) {

    /* BANNER */
    .banner {
        height: 70vh;
    }

    .text_content {
        padding: 20px;
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        /* Centra los elementos en dispositivos m칩viles */
    }

    .text_content h1 {
        font-size: 20px;
    }

    .text_content h2 {
        font-size: 15px;
        margin-bottom: 20px;
        /* Reduce el espacio entre elementos en dispositivos m칩viles */
    }

    .logo {
        width: 120px;
        /* Reduce el tama침o del logo en dispositivos m칩viles */
    }

    /* Seccion 01 */
    .seccion_01 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .s1_cont {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .s1_cont img {
        margin: auto;
        width: 400px;
        height: 300px;
        object-fit: cover;
    }

    .parrafo1 {
        width: 90%;
        margin: auto;
        padding: 20px;
    }

    .coo {
        flex-direction: column-reverse;
        top: 0;
    }

    .parrafo2 {
        width: 90%;
        margin: auto;
        padding: 20px;


    }

    .parrafo2 p {
        text-align: start;
    }



    /* Seccion 02 */
    .seccion_02 {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .s02_texto {
        width: 80%;
        margin-left: 0;
        margin-top: 0;

    }

    .s02_texto h2 {
        font-size: 30px;
    }

    .s02_texto p {
        font-size: 20px;
    }

    .seccion_02 img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    /* Seccion 03 */
    .seccion_03 {
        width: 100%;
    }

    .s3_01 {
        padding-right: 20px;
        width: 100%;
        padding-top: 1rem;
    }

    .contenedor_acordion {
        margin-top: 20px;

        width: 100%;
        padding: 10px;

    }

    .contenedor_acordion h3 {
        width: 100%;
        margin: auto;
        font-size: 1.5rem;
    }

    .interior {
        margin: auto;
        width: 90%;
        margin-bottom: 3rem;
    }






    /* Seccion 04 */
    .seccion_04 {
        background: none;
        width: 100%;
        height: 100%;
    }


    .cont1 h2 {
        width: 90%;
        padding-left: 0;
        font-size: 40px;
    }

    .cont1 {
        width: 100%;
    }


    .s4_cont {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: auto;


    }

    .s4_cont p {
        font-size: 1.3rem;
        width: 90%;
        text-align: center;
    }




    .agregado {
        margin: auto;
    }

    .agregado a {
        width: 250px;
    }


    .agregado p {
        font-size: 1.9rem;
        width: 90%;
    }


    /* Seccion 05 */
    .seccion_05 {
        width: 100%;
        height: 300px;
    }

    /* Footer Styles */
    .footer__container {
        padding: 20px;
    }

    .footer__col h4 {
        font-size: 20px;
    }

    .footer__col p {
        font-size: 16px;
    }

    .footer__socials span {
        font-size: 24px;
    }

    .footer__bar {
        font-size: 16px;
    }

    .logo_negativo {
        width: 100px;
        height: 50px;
    }
}