/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Onest:wght@300;400;600&family=Roboto+Slab&family=Roboto:wght@400;700&display=swap');



body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: "Onest", sans-serif;
    /* Font Family specified once */
    line-height: 1.6;
}


main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

strong {
    margin: 5px;
    padding: 2px;
    border-radius: 10px;
    background-color: #32ADB9;
    color: black;
}

/* Encabezado */
header {
    /* text-align: center; */
    margin-bottom: 20px;
}

/* BANNER */

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    background-size: cover;
    background-position: center;
    transition: all 0.1s ease-in-out;
    background-image: url('../assets/im001.jpeg');
    animation: banner 28s infinite linear;

}

.banner-content {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(10, 10, 21, 0.749);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.banner-content h1 {
    margin: 0;
    padding: 0;
    color: #fff;
}

.text_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 100px;
    padding-top: 100px;
}


.text_content h1 {
    font-size: 50px;
    color: #fff;
}

.text_content h2 {
    font-size: 27px;
    color: #fff;
    margin-bottom: 40px;
}

.logo {
    justify-content: start;
    width: 180px;
    height: auto;

}

.text_01 a {
    text-decoration: none;
    background-color: #00AE45;
    color: #fff;
    padding: 9px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.banner-content a:hover {
    background-color: #fff;
    color: #000;
}

@keyframes banner {

    0%,
    25% {
        background-image: url('../assets/im001.jpeg');
    }

    26%,
    50% {
        background-image: url('../assets/im002.jpeg');
    }

    51%,
    75% {
        background-image: url('../assets/im003.jpeg');
    }

    76%,
    100% {
        background-image: url('../assets/banner_img/b_001.jpg');
    }
}


/* ============================================ */
/* Secciones */
section {
    margin-bottom: 30px;
}

.section_data {
    /* background-color: #005E6C; */
    margin-top: 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.text_data {
    padding: 30px;
}

.section_data img {

    width: 100%;
    height: 100%;
}


.section_data h3 {
    color: #005E6C;
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    margin-bottom: 10px;
}

.section_data p {
    color: black;
    font-size: 18px;
    margin-bottom: 10px;

}




/* ===================================================== */
/* Formulario de contacto */
.contact__container {
    display: flex;
    align-items: center;

}

.contact__image,
.contact__content {

    flex: 0 0 50%;
}

.contact__image img {
    max-width: 100%;
    height: auto;
}

.contact__content {

    padding: 0 20px;
}


.animate-bg {
    margin-left: 20px;
}

.container {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 100px;
}

.container h3 {
    text-transform: uppercase;
    color: #005E6C;
    font-size: 40px;
    margin-bottom: 20px;
}

#mc_embed_shell {
    padding: 20px;
    background-image: radial-gradient(circle at 50% -20.71%, #ffffa1 0, #f5ffa0 6.25%, #e4ffa0 12.5%, #d2ffa1 18.75%, #bdffa3 25%, #a7fda6 31.25%, #8cfaaa 37.5%, #6cf7af 43.75%, #3cf2b5 50%, #00edbc 56.25%, #00e8c6 62.5%, #00e4d0 68.75%, #00dfdc 75%, #00dbe9 81.25%, #00d7f5 87.5%, #00d3ff 93.75%, #00d0ff 100%);
    margin-top: 50px;
}

#mc_embed_shell h4 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* ======================================================== */
.slider{
    height: 500px;
}
.swiper {
    width: 100%;
    height: 100%;
    background: #02191d;
}

.swiper-slide {
    width: 100%;
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-slide .title {
    text-transform: uppercase;
    text-align: center;
    font-size: 45px;
    font-weight: 300;
}


.swiper-slide .text {
    text-align: center;
    font-size: 14px;
    
}
.swiper-slide .text p{
    text-align: center;
    font-size: 25px;
    
}

/* BENTO GRID */
.bento{
   
    width: 100%;
    background-color: #20242A;
}
.bento-grid {
    margin: 0;
    border: 0;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas:
        "one one two"
        "three four five"
        "three four six";
}
.bento-grid img,video{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.cell {
    padding: 10px;
    text-align: center;
}

.cell:nth-child(1) { grid-area: one; }
.cell:nth-child(2) { grid-area: two; }
.cell:nth-child(3) { grid-area: three; }
.cell:nth-child(4) { grid-area: four; }
.cell:nth-child(5) { grid-area: five; }
.cell:nth-child(6) { grid-area: six; }


/* --------------- */




/* Footer Styles */
.footer {
    background-color: #000;
}

.footer__container {
    padding-left: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.footer__col h4 {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: white
}

.footer__col p {
    margin-bottom: 1rem;
    color: white;
}

.footer__col a {
    display: block;
    margin-bottom: 1rem;
    color: white;
    transition: 0.3s;
}

.footer__col a span {
    margin-right: 5px;
}

.footer__col a:hover {
    color: #00AE45;
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer__socials span {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.footer__bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
}


/* Responsiveness */
@media only screen and (max-width: 768px) {
    .bento-grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .cards_container {
        grid-template-columns: 1fr;
    }

    .text_content {
        grid-template-columns: 1fr;
    }

    .text_01 a {
        width: auto;
        padding: 9px 20px;
    }

    .section_data {
        grid-template-columns: 1fr;
    }

    .section_data img {
        display: none;
    }
}

@media only screen and (max-width: 600px) {

    

    .swiper-slide .title {
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
        font-weight: 300;
    }
    
    .swiper-slide .text p{
        text-align: center;
        font-size: 12px;
        
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__container {
        padding-left: 10px;

    }

    .text_content {
        margin: 0;
        padding: 20px;
        width: 100vw;
        height: 100vh;
    }

    .text_content h1 {
        font-size: 40px;

    }

    #mc_embed_signup {
        width: 100%;
    }


    .mc-field-group {
        width: 100%;
        margin-bottom: 10px;
    }

    .optionalParent {
        text-align: center;
    }
}